@media (max-width: 1100px) {

    .container {
        max-width: 90%;
        margin-inline: auto;
        overflow: hidden;
    }
    .nav-items {
        width: 100%;
        flex-direction: column-reverse;
        position: absolute;
        top: 72px;
        right: -100%;
        display: none;
        background-color: var(--primary-color);
        padding: 1rem;
        gap: 1rem;
        z-index: 1000;
        height: 100vh;
        justify-content: start;
        transition: all 0.5s ease-in;
        overflow: hidden;
    }

    .active{
        display: inline;
        right: 0;
    }

    .nav-items.active {
        display: flex;
    }

    .menu-btn {
        display: block;
        cursor: pointer;
    }

    .nav-items ul {
        width: 100%;
        flex-direction: column;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .nav-items .search {
        display: flex;
        width: 90%;
        margin: 10px;
        border-radius: 8px;
        border: 1px solid #FAFAFA;
    }

    input {
        flex: 1;
        flex-basis: 1;
        font-size: 1rem;
        background: #2c2a2a;
        padding: 4px 8px 4px 8px;
        background: transparent;
        border: none;
        color: #FAFAFA;
    }
    
    #toggler{
        display: block;
        position: absolute;
        top: 25px;
        right: 25px

    }
    .cards{
        justify-content: space-evenly;
    }
    .card{
        width: 400px;
    }

}